// Variables
$gris: #e5e7eb;
$verd-fort: #3c6300;
$vermell: #dc2626;
$padding-button: 0.25rem;
$margin-button: 0.25rem;
$border: border 1px solid $verd-fort;

// Mixins
@mixin crearButtonVerd($verd-fort, $padding-button, $margin-button) {
  background-color: $verd-fort;
  padding: $padding-button;
  margin: $margin-button;
}

@mixin crearButtonVermell($vermell, $padding-button, $margin-button) {
  background-color: $verd-fort;
  padding: $padding-button;
  margin: $margin-button;
}

@mixin crearButtonFavorit() {
  @include crearButtonVerd();
}

@mixin crearButtonEliminar() {
  @include crearButtonVermell();
}

// Aside amb Nesting
aside {
  display: none;

  &.mostra {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1.5rem;
    gap: 0.9rem;
    background-color: $gris;
    border-bottom: border 1px solid $verd-fort; // Per qualque motiu no s'aplica
  }
}

// Responsive
@media (min-width: 768px) {
  aside {
    h2 {
      font-weight: bold;
    }

    // .button-preferit {
    //     @include crearButtonFavorit($verd-fort,);
    // }

    // .button-eliminar {
    //     @include crearButtonEliminar();
    // }
  }
}

.product-highlight {
  border: $border;
}
