
$verd: #3c6300;
$gris_fosc: #e5e7eb;
$vermell: #dc2626;

@mixin boto_parametres($background_color, $text_color) {
    background-color: $background_color;
    color: $text_color;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

aside {
    flex-direction: column;
    padding: 15px;
    background-color: $gris_fosc;
    display: none;
    
    h2 {
        font-weight: bold;
    }
    
    label {
        margin-top: 5px;
        font-weight: 400;
    }

    &.show {
        display: flex;
    
    }
}

.btn-eliminar {
    @include boto_parametres($vermell, white);
}

.btn-favorit {
    @include boto_parametres($verd, white);
}

.product-highlight {
    border: 1px solid $verd;
}

@media (min-width: 768px) {
    #menuBtn {
        display: none;
    }

    aside {
        display: flex;
    }
}