body {
  color: black;
  background-color: #234d23;
}

header h1 {
  font-size: 40px;
}

header nav a {
  padding: 0 15px;
}

main p {
  color: #c3c3c3;
  font-family: Arial, Helvetica, sans-serif;
}

main section {
  background-color: #132a13;
}

main section:first-of-type {
  background-color: #0000ff;
}

main .card, main .card2 {
  text-decoration: underline;
}

main .card2 {
  font-style: italic;
}
