
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.productos-destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .productos-destacados {
        grid-template-columns: repeat(3, 1fr);
    }
}