* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.priority-baja {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}

.priority-media {
  background-color: blue;
  color: #6a6ae4;
  padding: 10px 20px;
  border-radius: 2px;
}

.priority-alta {
  background-color: red;
  color: #e65151;
  padding: 10px 20px;
  border-radius: 2px;
}

#add-task-btn {
  background: linear-gradient(125deg, #000080, #B2FFFF, #376B98);
  transition: all 0.3s ease;
}
