
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: khaki;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 70px;
}

header nav {
    display: flex;
    /* flex direction: row; */
    column-gap: 15px;
}

main section {
    padding: 10px;
    display: flex;
    height: calc(100vH - 90px);
    gap: 20px;
    flex-wrap: wrap;
    /* align-items: center; */
    align-content: center;
    justify-content: center;
    /* flex direction: row; */
}

main section article {
    background-color: rgb(151, 151, 215);
    /* width: 200px; */
    height: 200px;
    border: solid 1px;
    /* width: 100%; */
    /* flex-grow flex-shrink flex-basis; */
    /* width: calc(50% - 10px); */
    /* flex-grow: 1; */
    flex-basis: 10%;
}

article:nth-child(3), article:nth-child(4) {
    /* flex-grow: 2; */
    flex-basis: 20%;
}

@media (min-width: 800px) {
    header {
        background-color: rgb(172, 211, 121);
    }
}