* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: light-dark(#121212, #ffff);
  padding: 10px 20px;
  border-radius: 10px;
}

.alert-max {
  border: 1px solid red;
  color: light-dark(#eb1414, #ea3a3a);
}

.alert-min {
  border: 1px solid green;
  color: light-dark(#50b90f, #7fdc45);
}
