
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

header img {
    width: 100px;
}

header nav {
    display: flex;
    column-gap: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}